main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
}

#pictoContainer {
    width: 40vw;
    aspect-ratio: 1 / 1;
    background-color: rgba(255,255,255,1);
    margin: auto;
    resize: horizontal;
    overflow: hidden;
}